
/*    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
*/

*, p, hr{
	padding: 0;
	margin: 0;
}
body{
	position: relative;
	margin-top: 100px;
	overflow-x: hidden;
}
.clear {
	content: '';
	clear: both;
}


/*HEADER*/
header{
	width: 100%;
	background: rgba(51, 51, 51, 0.95);
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	transition: 1s all;
	z-index: 999;
}
.header-mobile{
	display: none;
}
.menu-left a, header .phone, .menu-left-mobile a{
	padding: 35px 5px;
	margin: auto;
	color: #fff;
	float: left;
	text-align: center;
	font-family: Politica, Helvetica;
	font-size: 23px;
	text-decoration: none;
	transition: 1s all;
}
.menu-scrol {
	padding: 10px !important;
}
.scrol{
	padding: 5px !important;
}
.menu-left a, .menu-left-mobile a{
	float: right;
}
header a:hover{
	text-decoration: none;
	color: #178AE5;
}
.logo img{
	width: 200px;
	padding: 35px 10px 10px 10px;
	transition: 1s all;
}
header .phone{
	font-size: 32px;
	padding: 30px 30px 30px 0; 
	z-index: 999;
}
.search {
	width: 175px;
	padding-top: 35px;
	position: relative;
	border-bottom: 1px solid white;
	float: left;
	transition: 1s all;
}
.search::after {
	content: attr(data-text);
	font-size: 0.7rem;
	line-height: 0;
	height: 50px;
	max-width: 100%;
	font-family: Politica, Roboto, Arial, sans-serif;
	border-bottom: 3px solid #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	overflow: hidden;
	user-select: none;
	color: transparent;
}
.search input {
	color: #ddd;
	border: none;
	border-radius: 0;
	outline: none;
	font-size: 1.3rem;
	font-family: Politica, Roboto, Arial, sans-serif;
	background-color: transparent;
}
.search input::placeholder {
	font-size: 0.8em;
	font-family: Politica, Roboto, Arial, sans-serif;
}
.cart {
	padding: 30px 0 ;
	float: left;
	margin-left: 25px;
	transition: 1s all;
}
.fa-shopping-cart{
	font-size: 40px;
	color: #fff;
}
.fa-shopping-cart:hover{
	color: #178AE5;
}
.menu-up{
	width: 100%;
	display: flex;
	position: relative;
}
.logo-mobile{
	float: left;
	padding-top: 10px;
}
.logo-mobile img {
	width: 50px;
	padding: 8px 0;
}
.header-mobile .phone {
	margin: auto auto;
	padding: 0;
	font-size: 45px;
	overflow: hidden;
}
.burger{
	width: 50px;
	padding: 25px 0 10px 0;
}
.burger .fa-bars{
	font-size: 2em;
	cursor: pointer;
}
.burger_checkbox{
	display: none;
}
.menu-left-mobile a{
	width: 100%;
	padding: 5px;
	text-align: center;
	border-top: 1px solid #178AE5;
	font-size: 20px;
	transition: all 1s ;
}
.menu-left-mobile a:last-child:hover{
	border-bottom: 1px solid #178AE5;
}
.menu-left-mobile a:hover{
	color: #178AE5;
	border-left: 1px solid #178AE5; 
	border-right: 1px solid #178AE5; 
}
.menu-left-mobile{
	display: none;
}


/*INDEX*/
.wrapper{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.wrapper .category{
	width: 45%;
	margin: 25px ;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	box-shadow: 2px 2px 3px #aaa;
	box-sizing: border-box;
	transition: 0.3s all;
	overflow: hidden;
}
.wrapper .category:hover{
	box-shadow: 5px 5px 10px #aaa;
}
.wrapper .category:hover .category-description h3,
.wrapper .category:hover .category-description p,
.wrapper .category:hover .category-time{
	margin-left: 5px;
}
.category a{
	text-decoration: none;
}
.category .img-category{
	width: 100%;
	height: 265px;
}
.category .mens-jeans{
	background:  url(../img/category/mens-jeans.jpg) 0 -45px no-repeat;
}
.category .womens-jeans{
	background:  url(../img/category/womens-jeans.jpg) 0 -16px no-repeat;
}
.category .pullovers{
	background: url(../img/category/pullovers.jpg) 0 -6px no-repeat;
}
.category .t-shirts{
	background: url(../img/category/t-shirts.jpg) 0 -10px no-repeat;
}
.category .batnik{
	background: url(../img/category/batnik.jpeg) 0 0 no-repeat;
}
.category .jackets{
	background: url(../img/category/jackets.jpg) 0 -6px no-repeat;
}
.category .overalls{
	background: url(../img/category/overalls.jpg)0 0 no-repeat;
}
.category .vests{
	background: url(../img/category/vests.jpg) 0 0 no-repeat;
}
.category .shorts{
	background: url(../img/category/shorts.jpg) 0 0 no-repeat;
}
.category .shorts{
	background: url(../img/category/shorts.jpg) 0 -6px no-repeat;
}
.category .belts{
	background: url(../img/category/belts.jpg) 0 -57px no-repeat;
}
.category .category-description{
	width: 75%;
	margin: 15px -10px 20px 25px;
	float: right;
}
.category .category-description h3{
	font-family: Politica, Roboto, Arial, sans-serif;
	font-weight: bold;	
	color: #178AE5;
	font-size: 2em;
	transition: 1s all;
}
.category .category-description p{
	padding-right: 5px;
	color: #555;
	font-family:    RobotoRegular, Arial, sans-serif;
	transition: 1s all;
}
.category .category-time{
	width: 20%;
	padding: 60px 0 0 0;
	text-align: center;
	color: #555;
	position: relative;
	transition: 1s all;
}
.category .category-time .quantity{
	background: #fff;
	padding: 0 20px 7px 20px;
	border: 1px solid #eee;
	position: absolute;
	top: -50px;
	left: 20px;
	box-shadow: 3px 3px 10px #000;
}
.category .category-time .quantity p{
	font-size: 2.5em;
}
.sale-new{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.box{
	width: 44%;
	height: 160px;
	margin: 20px;
	overflow: hidden;
	box-shadow: 2px 2px 3px #aaa;
	transition: 0.5s all;
}
.box:hover{
	box-shadow: 5px 5px 10px #aaa;
}
.sale{
	background: url(../img/sale.png) no-repeat;
	background-position: center;
}
.new{
	background: url(../img/new.png) no-repeat;
	background-position: center;
}

.all-catalog, .yet-tovar{
	width: 93%;
	border: 2px solid #178AE5;
	border-radius: 3px;
	margin: 10px;
	transition: .5s all;
}
.all-catalog h5, .yet-tovar h5{
	margin: 0;
	padding: 15px 0;
	text-align: center;
	color: #178AE5;
	font-family: Politica, sans-serif;
	font-size: 2em;
}
.all-catalog:hover, .yet-tovar:hover{
	background: #178AE5;
	cursor: pointer;
}
.all-catalog:hover h5, .yet-tovar h5{
	color: #fff;
}



/*FOOTER*/
footer{
	width: 100%;
	margin-top: 50px;
	padding: 20px;
	background: #333;
	color: #fff;
	font-family: Politica, sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}
.footer-logo img{
	width: 80px;
}
footer h4{
	font-size: 1.5em;
}
footer li{
	list-style-type: none;
}
footer a{
	color: #fff;
	transition: .5s all;
}
footer a:hover{
	text-decoration: none;
	color: #178AE5;
}
footer ul{
	margin-bottom: 0;
}
.footer-info li{
	font-size: 1.7em;
}
.footer-contact {
	font-family: Politica;
	font-size: 1.3em;
}
.footer-number{
	margin-top: 15px;
	font-size: 2.7em;
	font-family: Politica;
}
.footer-contact .fa{
	display: block;
	width: 25px;
	height: 25px;
	float: left;
	margin-top: 5px;
	margin-right: 15px;
	text-align: center;
}
.footer-time{
	padding-top: 20px;
	font-size: 1.3em;
}
.footer-time h3{
	font-size: 2.5em;
	text-align: center;
}
.footer-time li{
	float: left;
	margin-left: 7px;
	padding: 3px 10px;
	border: 1px solid #eee;
	border-radius: 7px;
}
.scrollTop{
	width: 75px;
	height: 75px;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 50%;
	position: relative;
	transition: .5s all;
}
.scrollTop .fa{
	color: #333;
	font-size: 4em;
	position: absolute;
	top: 0px;
	left: 23%;
}
.position{
	position: absolute;
	left: calc(48% - 30px);
	top: -40px;
}
.scrollTop:hover{
	background: #178AE5;
	border-color: #178AE5;
	cursor: pointer;
}
.scrollTop:hover .fa-angle-double-up{
	color: #fff;
}


/*CATALOG*/
aside{
	width: 18%;
	padding: 15px;
	background: #f8f8f8;
	margin-top: 25px;
}
.content{
	width: 80%;
	margin-top: 25px;
	margin-left: 25px;
}
.stock, .category-list{
	border-bottom: 1px solid #999;
}
.category-list{
	padding-top: 20px;
	margin-bottom: 20px;
}
.stock ul, .category-list ul{
	margin: 0;
}
.stock li, .category-list li{
	list-style-type: none;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 5px;
}
.stock li a:hover, .category-list li a:hover{
	cursor: pointer;
	color: #178AE5;
}
.stock li a, .category-list li a{
	color: #333;
	font-weight: 600;
}
.category-list li span{
	float: right;
}
.stock2{
	display: none;
}
.clear-filters{
	width: 100%;
	border: 2px solid #178AE5;
	margin-bottom: 20px;
}
.clear-filters:hover{
	background: #178AE5;
	color: #fff;
	cursor: pointer;
}
.clear-filters p{
	text-transform: uppercase;
	line-height: 2em;
	font-family: Politica, sans-serif;
	font-size: 1.2em;
	text-align: center;
}
.filter-header{
	width: 100%;
	margin-bottom: 15px;
	cursor: pointer;
}
.filter-header .fa{
	color: #178AE5;
	float: right;
	line-height: 1.5em;
}
.filter-body{
	display: block;
}
.filter-body li{
	list-style-type: none;
}
.checkbox + label {
  cursor: pointer;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; 
  padding: 0 0 0 50px;
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 40px;
  height: 16px;
  border-radius: 7px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s;
}
.checkbox:checked + label:before {
  background: #178AE5;
}
.checkbox:checked + label:after {
  left: 26px;
}
/* хлебные крошки */
#breadcrumb {
  list-style: none;
  display: inline-block;
  padding-left: 0px;
  float: left;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #fff;
  display: block;
  background: #178AE5;
  text-decoration: none;
  position: relative;
  height: 34px;
  line-height: 34px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #178AE5;
  border-width: 17px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #178AE5;
}
.filter-button{
	display: none;
	width: 65px;
	padding: 9px 0;
	margin-right: 3px;
	border-radius: 3px;
	float: right;
	color: #fff;
	text-align: center;
	background: #178AE5;
	cursor: pointer;
}
.category-name{
	width: 99%;
	background: #f8f8f8;
	text-align: center;
}
.category-name p{
	font-family: Politica, sans-serif;
	font-size: 1.7em;
	font-weight: bolder;
	padding: 20px;
}
.select select{
	margin-left: 15px;
	outline: none;
	border: none;
}
.select p{
	float: left;
}
.wrapper .item-tovar{
	width: 18%;
	margin: 10px ;
	border-top: 1px solid #eee;
	box-shadow: 2px 2px 3px #aaa;
	box-sizing: border-box;
	transition: 0.3s all;
	overflow: hidden;
	transition: .3s all;
}
.img-tovar{
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-size: cover;
}
.img-tovar img{
	width: 100%;
	height: 100%;
}
.item-tovar{
	font-family: RobotoRegular, sans-serif;
	color: #333;
	text-align: center;
}
.item-tovar .brand{
	font-family: Politica, sans-serif;
	font-size: 1.5em;
	font-weight: bolder;
}
.item-tovar .description{
	font-size: 0.85em;
}
.item-tovar .price{
	font-size: 1.1em;
	font-weight: bolder;
}
.item-tovar:hover{
	transform: scale(1.02, 1.02);
	box-shadow: 5px 5px 10px #aaa;
	cursor: pointer;
	color: #333;
	text-decoration: none;
}
.yet-tovar{
	width: 25%;
	margin: 50px auto 30px auto;
}
.yet-tovar h5{
	color: #178AE5;
}
.yet-tovar h5:hover{
	color: #fff;
}
.navigation ul{
	width: 30%;
	margin: 30px auto 80px auto;
}
.navigation li, .navigation span{
	display: inline-block;
	color: #178AE5;
	font-family: RobotoRegular, sans-serif;
	font-size: 1.2em;
	cursor: pointer;
	padding: 0 10px;
}
.navigation li:not(.not-hover):hover, .navigation span:hover{
	color:#fff;
	background: #178AE5;
}
.navigation .current{
	color:#fff;
	background: #178AE5;
}
.slider-catalog{
	width: 95%;
	margin: 0 auto;
}
.title-carousel{
	text-align: center;
	width: 100%;
	color: #178AE5;
	font-size: 1.3em;
	font-weight: bold;
	font-family: Politica, sans-serif;
	position: relative;
	margin-bottom: 20px;
}
.title-carousel:before{
	content: '';
	width: 100%;
	height: 1px;
	background: #178AE5; 
	position: absolute;
	top: 15px;
	left: 0;
}
.title-carousel p{
	background: #fff;
	display: inline-block;
	padding: 0 20px;
	z-index: 99;
	position: relative;
}
.slider-catalog .item{
	transition: .3s all;
}
.slider-catalog .item:hover{
	transform: scale(1.02, 1.02);
}
.slick-prev, .slick-next, .slick-arrow{
	display: none !important;
}
.slick-initialized .slick-slide{
	width: 100px;
}


/*PRODUCT*/
.breadcrumb-product{
	margin: 25px 20px 30px 30px;
}
.flex-between{
	justify-content: space-around;
}
.product-foto{
	width: 30%;
	position: relative !important;
	margin-bottom: 175px;
}
.slider-product{
	position: relative !important;
	max-width: 450px;
	border: 1px solid #ccc;
	padding: 2px;
}
.slider_item img{
	width: 100%;
}
.slider-product-nav{
	max-width: 410px;
	position: absolute;
	left: -2px;
	bottom: -160px;
}
.slider-nav_item{
	margin: 3px;
	opacity: .6;
	transition: .3s all;
}
.slider-nav_item:hover, 
.slick-current{
	opacity: 1;
	cursor: pointer;
}
.slider-nav_item img {
	width: 100px;

}

.product-info{
	width: 60%;
}
.product-info hr{
	margin: 5px 0 20px 0;
}

.wrap{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	font-family: Politica;
}
.product-name{
	font-family: Politica, sans-serif;
	font-size: 1.7em;
	font-weight: bolder;
}
.product-barcode {
	font-size: 1.3em;
	font-weight: bold;
}
.product-price p{
	text-align: center;
	min-width: 150px;
	font-size: 3em;
	color: #e25a46;
	border: 2px solid #e25a46;
	padding: 5px 10px;
	margin: 0 auto 15px auto;
	font-weight: bold;
	border-radius: 5px;
}
.product-price span{
	font-size: 0.4em;
	font-weight: 400;
}
.isset{
	text-align: center;
	padding: 5px 15px;
	color: #fff;
	background: #3FBA3A;
	border-radius: 5px;
}
.product-filters{
	font-family: RobotoRegular;
}
.product-filters h4, .product-filters td:first-child{
	font-weight: bold;
	font-family: Politica;
}
.filter-link{
	color: #000;
	text-decoration: underline;
}
.filter-link:hover{
	color: #000;
}
.table-filters {
	min-width: 350px;
}
.table-filters tr{
	padding: 5px 0;
	height: 40px;
}
.product-data{
	width: 60%;
}
.price-edit p{
	display: block;
	font-size: 2.1em;
	margin-right: 50px;
}
.price-edit .fa{
	color: #178AE5;
	font-size: 1em;
	cursor: pointer;
}
.price-edit .fa-angle-double-right{
	margin-left: 3px;
	margin-right: 10px;
}
.price-edit .fa-angle-double-left{
	margin-left: 10px;
}
.price-edit .product-price-edit{
	color: #e25a46;
	font-weight: bold;
	padding: 0 10px;
	vertical-align: middle;
}
.product-quantity{
	color: #178AE5;
	font-size: 1.5em;
	vertical-align: middle;
	border: 1px solid #178AE5;
	padding: 5px 10px;
	text-align: center;
}
.price-edit .fa-usd{
	font-size: 0.5em;
	vertical-align: sub;
	color: #e25a46;
}
.total-price{
	color: #e25a46;
	font-size: 1.3em;
	vertical-align: middle;
}
.product-buy{
	width: 250px;
	margin-top: 20px;
	float: right;
	border: 2px solid #178AE5;
	background: #178AE5;
	color: #fff;
	font-size: 1.5em;
	text-align: center;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s;
}
.product-buy:hover{
	background: #fff;
	color: #178AE5;
}
.product-number{
	margin-top: 30px;
	font-size: 0.8em;
	font-family: RobotoRegular;
	float: right;
}
.product-number a{
	font-family: Politica, RobotoRegular, sans-serif;
	text-decoration: none;
	color: #000;
	font-size: 3.5em;
	font-weight: bold;
}
.product-data .ruler{
	text-align: center;
	margin-top: 5px;
	margin-right: 20px;
	font-size: 1.3em;
	cursor: pointer;
}
.product-data .ruler img{
	padding: 7px;
	border: 1px solid #178AE5;
	border-radius: 50%;
}
.product-data .modal{
	display: none;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .9);
}
.product-data .modal-text{
	font-family: Politica, sans-serif;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	float: left;
	border-radius: 5px;
}
.product-data .close{
	position: absolute;
	top: -10px;
	right: 10px;
	color: #178AE5;
	float: right;
	font-size: 90px;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;
}
.product-data .close:hover{
	color: #000;
}
.modal input{
	display: none;
}
.modal input:checked + label{
	background: #178AE5;
	color: #fff;
}
input[id="tab-1"]:checked ~ .ruler-content .tab-1,
input[id="tab-2"]:checked ~ .ruler-content .tab-2{
	display: block;
}
.modal label{
	margin-bottom: 0;
	cursor: pointer;
	padding: 10px 20px;
	margin-right: 5px;
	background: #ccc;
	font-size: 1.5em;
}
.modal h3{
	font-weight: bold;
	text-align: center;
}
.ruler-content{
	position: relative;
}
.ruler-content article{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff  ;
	padding: 20px 30px;
	border: 2px solid #178AE5;
	display: none;
	font-family: RobotoRegular, sans-serif;
}
.ruler-content article table{
	width: 100%;
}
.ruler-content article table td,
.ruler-content article table th{
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.ruler-content p{
	margin-top: 10px;
}
.product-description{
	height: 275px;
	overflow-x: hidden;
}


/*CONTACTS - Контакты*/
.breadcrumb-wrap{
	width: 100%;
	height: 90px;
}
.contacts-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.contacts-wrap h3{
	font-family: Politica, sans-serif;
	font-weight: bold;
}
.contacts-wrap p, 
.contacts-wrap a{
	font-family: Verdana, sans-serif;
	font-size: 1.4em;
	color: #000;
}
.contacts-wrap .map{
	display: inline-block;
	cursor: pointer;
}
.contacts-wrap .fa{
	font-size: 1.6em;
	margin-right: 5px;
}
.contacts-wrap .icon:before{
	width: 32px;
	height: 32px;
	margin: 0 5px;
	content: '';
	background-image: url(../img/contacts.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	left: 0px;
	top: 7px;
	position: relative;
	display: inline-block;
}
.contacts-wrap .kievstar:before{
	background-position: 0 0;
}
.contacts-wrap .life:before{
	background-position: -64px 0;
}
.contacts-wrap .mtc:before{
	background-position: -128px 0;
}
.contacts-wrap .time-work:before{
	background-position: -192px 0;
}
.contacts-wrap .mail:before{
	background-position: -96px 0;
}
.contacts-wrap .vk:before{
	background-position: -256px 0;
}
.contacts-wrap .instagram:before{
	background-position: -32px 0;
}
.contacts-wrap .viber:before{
	background-position: -224px 0;
}
.contacts-wrap .telegram:before{
	background-position: -160px 0;
}
.write-us a{
	display: table;
}
.contacts-wrap .time-work {
	font-size: 1.8em;
}
/*Clock*/
.wrapper-clock ul {
  padding: 0;
  margin: 0;
}
.wrapper-clock li {
  list-style: none;
}
.wrapper-clock {
  margin: auto;
  width: 100%;
  height: 12em;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 30px;
}
.wrapper-clock:before {
  content: "";
  display: inline-block;
  height: 10em;
  width: 20px;
  vertical-align: middle;
}
.dottes {
  display: inline-block;
  width: 1em;
  margin: 0 1em;
  background: transparent !important;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.dottes:before, .dottes:after {
  content: "";
  display: block;
  width: 1em;
  height: 0;
  border-bottom: 1em solid #178AE5;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
.dottes:before {
  margin-bottom: 2em;
}
.digit {
  display: inline-block;
  width: 6em;
  margin: 0 3em;
  vertical-align: middle;
}
.digit__item {
  position: relative;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.digit__item:before, .digit__item:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
.item--h {
  clear: both;
  width: 3.9em;
  height: 1em;
  margin: 0 auto;
}
.item--1:before, .item--1:after {
  border-bottom-color: transparent !important;
}
.item--1:before {
  left: -1em;
  border-left-color: transparent !important;
}
.item--1:after {
  right: -1em;
  border-right-color: transparent !important;
}
.item--4 {
  width: 3.7em;
  margin: 4em auto 0;
}
.item--4:before {
  left: -0.5em;
  border-left: 0;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
.item--4:after {
  right: -0.5em;
  border-right: 0;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
.item--7:before, .item--7:after {
  border-top-color: transparent !important;
}
.item--7:before {
  left: -1em;
  border-left-color: transparent !important;
}
.item--7:after {
  right: -1em;
  border-right-color: transparent !important;
}
.item--v {
  float: left;
  width: 1em;
  height: 3.4em;
  margin: 0.3em 0;
}
.item--v:before {
  top: -1em;
}
.item--v:after {
  bottom: -1em;
}
.item--3,
.item--6 {
  float: right;
}
.item--2:before,
.item--5:before {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
}
.item--2:after,
.item--5:after {
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
}
.item--3:before,
.item--6:before {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
}
.item--3:after,
.item--6:after {
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}
.item--2:after,
.item--5:before {
  border-left-color: transparent !important;
}
.item--3:after,
.item--6:before {
  border-right-color: transparent !important;
}
.digit--sec {
  vertical-align: top;
  font-size: .4em;
}