/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu-left a, header .phone{
		font-size: 18px;
	}
	.logo img{
		width: 150px;
    	padding: 12px;
	}
	.search{
		width: 150px;
		padding-top: 20px;
	}
	.search input::placeholder {
		font-size: 0.8em;
	}
	.search input{
		font-size: 1rem;
	}
	.cart{
		padding: 25px 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.menu-left a, header .phone{
		font-size: 14px;
		padding: 25px 4px;
	}

	.logo img{
		width: 125px;
    	padding: 5px;
	}
	.search{
		width: 115px;
		padding-top: 17px;
		margin: 0 15px;
	}
	.search input{
		border-bottom: none;
	}
	.search input::placeholder {
		font-size: 0.7em;
	}
	.cart{
		padding: 20px 0;
	}
	.fa-shopping-cart{
	font-size: 30px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.header-desktop{
		display: none;
	}
	.header-mobile{
		display: block;
	}


}

@media only screen and (max-width : 576px) {
	.logo-mobile {
		width: 75px;
	}
	.header-mobile .phone {
			font-size: 35px;
	}
}

@media only screen and (max-width : 400px) {
	.logo-mobile {
		width: 50px;
	}
	.header-mobile .phone {
		font-size: 32px;
	}
	.logo-mobile img {
		width: 40px;
    	padding: 3px 0;
	}
	.burger {
    	padding: 10px 0 0 0;
	}

}

